.footer {
  background: #aaa;
  position: fixed;
  bottom:0;
  left:0;
  width:100%;
}

.main-container {
  width: 75%;
  margin: auto;
}

.bottom-footer {
  border-top: 1px solid #aaa;
  background-color: #eee;
  padding-bottom: 30px;
}

.bottom-footer .row {
  width: 80%;
  margin: auto;
}

.phone-header {
  text-align: left;
}

.footer p {
  border-top: 1px solid #000;
  padding: 10px 0;
}